<div *ngIf="user">
  <div class="card">
    <div class="card-header">
      {{user.name}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{user.avatar_url}}">
          <a class="btn btn-default btn-block" target="_blank" href="{{user.html_url}}">View Profile</a>
        </div>
        <div class="col-md-8">
          <span class="badge badge-primary">{{user.public_repos}} Public Repos</span>
          <span class="badge badge-secondary">{{user.public_gists}} Public Gists</span>
          <span class="badge badge-success">{{user.followers}} Followers</span>
          <span class="badge badge-danger">{{user.following}} Following</span>
          <br>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Username: </strong>{{user.login}}</li>
            <li class="list-group-item">
              <strong>Location: </strong>{{user.location}}</li>
            <li class="list-group-item">
              <strong>Email: </strong>{{user.email}}</li>
            <li class="list-group-item">
              <strong>Blog: </strong>{{user.blog}}</li>
            <li class="list-group-item">
              <strong>Member Since: </strong>{{user.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      User Repos
    </div>
    <div class="card-body">
      <div class="panel-body">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class="col-md-9">
              <h6>
                <a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a>
              </h6>
              <p>{{repo.description}}</p>
            </div>
            <div class="col-md-3">
              <span class="badge badge-primary">{{repo.wathcers}} Watchers</span>
              <span class="badge badge-secondary">{{repo.forks}} Forks</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>